<?xml version="1.0" encoding="utf-8"?>
<DataType Key="4ac4fc3a-7e48-447c-9910-17e0186e4944" Alias="Node - UmbNav Sorter - UmbNav" Level="1">
  <Info>
    <Name>Node - UmbNav Sorter - UmbNav</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNav</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "allowCustomClasses": true,
  "allowDisplay": true,
  "allowImageIcon": true,
  "enableTextItems": true,
  "enableToggleAllButton": true
}]]></Config>
</DataType>