<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6471ee48-4112-48d4-817e-9841677bd3c7" Alias="Test document type - Block - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Test document type - Block - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6"
    }
  ]
}]]></Config>
</DataType>