<?xml version="1.0" encoding="utf-8"?>
<DataType Key="98608ac7-90fa-48d3-ad89-afa0ca45dde4" Alias="Test document type - UmbNav Sorter - UmbNav (Sorter)" Level="1">
  <Info>
    <Name>Test document type - UmbNav Sorter - UmbNav (Sorter)</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNavSorter</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>