<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f73ba79-a933-4b72-a0a3-e39e5ed94b88" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2024-08-08T10:07:08</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "key": "aa9b13b5014e48a990b0b942467c7127",
    "name": "Node",
    "url": "/",
    "icon": "icon-burn",
    "itemType": "document",
    "target": "",
    "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "description": "/",
    "children": [
      {
        "key": "13f9f4b02dd84ef0992e7db67e5cb473",
        "name": "Node",
        "url": "/",
        "icon": "icon-burn",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
        "anchor": "",
        "description": "/",
        "children": []
      },
      {
        "key": "83c6cecff2ab44e99b9801d7758ae9b7",
        "name": "Test",
        "url": null,
        "icon": "icon-document",
        "itemType": "document",
        "target": "",
        "published": false,
        "udi": "dc66e7ee-9348-4d85-ba1c-b8866319b6dd",
        "anchor": "",
        "description": null,
        "children": []
      },
      {
        "key": "9470efb5a94f4135a7502512f6a93799",
        "name": "sccscscsc",
        "url": null,
        "icon": "icon-document",
        "itemType": "document",
        "target": "",
        "published": false,
        "udi": "dc66e7ee-9348-4d85-ba1c-b8866319b6dd",
        "anchor": "",
        "description": null,
        "children": [
          {
            "key": "9612dda72eb5402489d998cf79bc69c7",
            "name": "Node",
            "url": "/",
            "icon": "icon-burn",
            "itemType": "document",
            "target": "",
            "published": true,
            "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
            "anchor": "",
            "description": "/",
            "children": []
          }
        ],
        "expanded": true
      }
    ],
    "published": true,
    "expanded": true,
    "image": [
      {
        "udi": "a4ce06e6-3543-4d81-9294-3af67759be4a"
      }
    ]
  },
  {
    "key": "3a50d73f2e7a4d14bad2615caeadb7da",
    "name": "Node",
    "url": "/",
    "icon": "icon-burn",
    "itemType": "document",
    "target": "",
    "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "description": "/",
    "children": [],
    "published": true
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>