<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f73ba79-a933-4b72-a0a3-e39e5ed94b88" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2024-08-08T10:07:08</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "key": "69818990cab84f6daf2b17039e5603ee",
    "name": "Text Menu Item",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "6b59ecdb525940cd8f8191b637fc8792",
        "name": "Node",
        "url": "/",
        "icon": "icon-burn",
        "itemType": "document",
        "target": "",
        "published": true,
        "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
        "anchor": "",
        "description": "/",
        "children": [],
        "hideLoggedIn": false,
        "hideLoggedOut": true
      }
    ]
  },
  {
    "key": "e41ca55e66484981840e75cb3c234462",
    "name": "Text Menu Item 2",
    "url": null,
    "icon": "icon-tag",
    "itemType": "title",
    "udi": null,
    "anchor": null,
    "published": true,
    "children": [
      {
        "key": "f38f4db7cc7d48ebaeba07b8dd41ea4e",
        "name": "Test",
        "url": null,
        "icon": "icon-document",
        "itemType": "document",
        "target": "",
        "published": false,
        "udi": "dc66e7ee-9348-4d85-ba1c-b8866319b6dd",
        "anchor": "",
        "description": null,
        "children": [],
        "image": [
          {
            "udi": "a4ce06e6-3543-4d81-9294-3af67759be4a"
          }
        ]
      }
    ]
  },
  {
    "key": "efba8ad0ef104d1d8972e01774dbf429",
    "name": "test",
    "url": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
    "icon": "icon-picture",
    "itemType": "media",
    "target": "",
    "published": false,
    "udi": "a4ce06e6-3543-4d81-9294-3af67759be4a",
    "anchor": "",
    "description": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
    "children": [],
    "customClasses": "custtomCssClass"
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>