<?xml version="1.0" encoding="utf-8"?>
<Content Key="3f73ba79-a933-4b72-a0a3-e39e5ed94b88" Alias="Node" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Node</Path>
    <Trashed>false</Trashed>
    <ContentType>node</ContentType>
    <CreateDate>2024-08-08T10:07:08</CreateDate>
    <NodeName Default="Node" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNav>
      <Value><![CDATA[[
  {
    "anchor": null,
    "icon": "icon-tag",
    "itemType": "title",
    "key": "a43322b5-b9ba-732d-15d2-283cf64a8999",
    "published": true,
    "udi": null,
    "url": null,
    "name": "Test Menu Item"
  },
  {
    "key": "1839e57a-6bad-4217-6286-546c2deb764d",
    "name": "Node",
    "url": "/",
    "icon": "icon-burn",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "description": "/"
  },
  {
    "key": "7520c621-0b7f-5118-b0e5-a4012de687fe",
    "name": "Test",
    "url": null,
    "icon": "icon-document",
    "itemType": "document",
    "target": "",
    "published": false,
    "udi": "dc66e7ee-9348-4d85-ba1c-b8866319b6dd",
    "anchor": "",
    "description": null
  },
  {
    "key": "2b0f004c-4d29-5697-038a-68436138d7bb",
    "name": "test",
    "url": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
    "icon": "icon-picture",
    "itemType": "media",
    "target": "",
    "published": false,
    "udi": "a4ce06e6-3543-4d81-9294-3af67759be4a",
    "anchor": "",
    "description": "/media/nhgiqerk/screenshot-2024-10-11-161524.png"
  }
]]]></Value>
    </umbNav>
  </Properties>
</Content>