<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc66e7ee-9348-4d85-ba1c-b8866319b6dd" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType</ContentType>
    <CreateDate>2024-07-10T09:25:50</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "udi": "umb://element/f11788f115b741b293f4223eff17d5d8"
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "udi": "umb://element/8b749ca437b34ab287474fc3b0337f30"
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "udi": "umb://element/a24cdc86edd24140b82e27b37470dd7c"
    }
  ],
  "settingsData": [],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/f11788f115b741b293f4223eff17d5d8",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/8b749ca437b34ab287474fc3b0337f30",
        "settingsUdi": null
      },
      {
        "contentUdi": "umb://element/a24cdc86edd24140b82e27b37470dd7c",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </block>
    <linkPicker>
      <Value><![CDATA[]]></Value>
    </linkPicker>
    <umbNavSorter>
      <Value><![CDATA[]]></Value>
    </umbNavSorter>
  </Properties>
</Content>