<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc66e7ee-9348-4d85-ba1c-b8866319b6dd" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType</ContentType>
    <CreateDate>2024-07-10T09:25:50</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "f11788f1-15b7-41b2-93f4-223eff17d5d8",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "8b749ca4-37b3-4ab2-8747-4fc3b0337f30",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "a24cdc86-edd2-4140-b82e-27b37470dd7c",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "b13b1efb-020b-493c-a809-838665c8eb72",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "7397acfb-bc62-4558-a790-b7594179d16e",
      "udi": null,
      "values": []
    },
    {
      "contentTypeKey": "1412bf58-d6d7-41b7-97f6-9badae387cd6",
      "key": "0a943c5c-0a12-485f-a04f-188dd9956b4f",
      "udi": null,
      "values": []
    }
  ],
  "expose": [
    {
      "contentKey": "f11788f1-15b7-41b2-93f4-223eff17d5d8",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8b749ca4-37b3-4ab2-8747-4fc3b0337f30",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a24cdc86-edd2-4140-b82e-27b37470dd7c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f11788f1-15b7-41b2-93f4-223eff17d5d8",
        "contentUdi": null,
        "settingsKey": "b13b1efb-020b-493c-a809-838665c8eb72",
        "settingsUdi": null
      },
      {
        "contentKey": "8b749ca4-37b3-4ab2-8747-4fc3b0337f30",
        "contentUdi": null,
        "settingsKey": "7397acfb-bc62-4558-a790-b7594179d16e",
        "settingsUdi": null
      },
      {
        "contentKey": "a24cdc86-edd2-4140-b82e-27b37470dd7c",
        "contentUdi": null,
        "settingsKey": "0a943c5c-0a12-485f-a04f-188dd9956b4f",
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </block>
    <linkPicker>
      <Value><![CDATA[]]></Value>
    </linkPicker>
    <mediaPicker>
      <Value><![CDATA[]]></Value>
    </mediaPicker>
    <umbNavSorter>
      <Value><![CDATA[[
  {
    "anchor": null,
    "icon": "icon-tag",
    "itemType": "title",
    "key": "e1a268d4-991c-fd1f-1bbc-71b9d5791370",
    "published": true,
    "udi": null,
    "url": null,
    "name": "Test Menu Item",
    "customClasses": "",
    "noreferrer": "noreferrer",
    "noopener": ""
  },
  {
    "key": "eb024902-16f2-25f3-3580-afcd6582de45",
    "name": "Node",
    "url": "/",
    "icon": "icon-burn",
    "itemType": "document",
    "target": "",
    "published": true,
    "udi": "3f73ba79-a933-4b72-a0a3-e39e5ed94b88",
    "anchor": "",
    "description": "/"
  },
  {
    "key": "0cb7d947-b5d4-8c69-155e-0cac162a9954",
    "name": "Test",
    "url": null,
    "icon": "icon-document",
    "itemType": "document",
    "target": "",
    "published": false,
    "udi": "dc66e7ee-9348-4d85-ba1c-b8866319b6dd",
    "anchor": "",
    "description": null
  },
  {
    "key": "2719e92f-88e1-1bb5-c5e2-c9f1c204287f",
    "name": "test",
    "url": "/media/nhgiqerk/screenshot-2024-10-11-161524.png",
    "icon": "icon-picture",
    "itemType": "media",
    "target": "",
    "published": false,
    "udi": "a4ce06e6-3543-4d81-9294-3af67759be4a",
    "anchor": "",
    "description": "/media/nhgiqerk/screenshot-2024-10-11-161524.png"
  }
]]]></Value>
    </umbNavSorter>
  </Properties>
</Content>