<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4ce06e6-3543-4d81-9294-3af67759be4a" Alias="test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/test</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-29T21:39:13</CreateDate>
    <NodeName Default="test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/nhgiqerk/screenshot-2024-10-11-161524.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>