<?xml version="1.0" encoding="utf-8"?>
<Content Key="dc66e7ee-9348-4d85-ba1c-b8866319b6dd" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>testDocumentType</ContentType>
    <CreateDate>2024-07-10T09:25:50</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <umbNavSorter>
      <Value><![CDATA[]]></Value>
    </umbNavSorter>
  </Properties>
</Content>