<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c46804e5-ad9d-45ff-b1c3-1b92f6b235e6" Alias="Node - UmbNav Sorter - UmbNav (Sorter)" Level="1">
  <Info>
    <Name>Node - UmbNav Sorter - UmbNav (Sorter)</Name>
    <EditorAlias>Umbraco.Plain.String</EditorAlias>
    <EditorUIAlias>Umbraco.Community.UmbNavSorter</EditorUIAlias>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>