<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5394121e-dd8c-4d64-8c37-2a2b0cd26297" Alias="Test - Blocklist - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Test - Blocklist - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "20503cea-88d1-4c8c-9a55-f886a0819f70"
    }
  ]
}]]></Config>
</DataType>